
__pycache__/
*.py[cod]
*$py.class

*.log
db.sqlite3
db.sqlite3-journal

django_cache/

apps/*/migrations/
!apps/*/migrations/__init__.py  # Garder le fichier __init__.py pour éviter les erreurs d'import

venv/
.virtualenv/

pip-log.txt
pip-delete-this-directory.txt

*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/

staticfiles/
media/

*.dockerenv
Dockerfile
docker-compose.yml
*.tar
*.gz

.coverage
htmlcov/
*.cover
.cache/
nosetests.xml
coverage.xml
*.pyc

build/
dist/
*.egg-info/

